#navbar {
  background-image: linear-gradient(black, #4C8DD8);
  overflow: hidden;
}

#navbar-insert {
  float: left;
  width: 100%;
  position: relative;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: rgba(0,0,0,0.5);
}

#onPage {
  text-decoration: underline;
}

body {
  color: white;
  font-family: cochin;
  background-color: #4C8DD8;
  text-align: center;
}

#genInfo{
  float: left;
  box-sizing: border-box;
  background-color: black;
  padding 30px;
  border: 10px dashed red;
  width: 40%;
  height: auto;
  margin: 0 5%;
}

#credInfo{
  float: left;
  box-sizing: border-box;
  background-color: black;
  padding 30px;
  border: 10px dashed red;
  width: 40%;
  height: auto;
  margin: 0 5%;
}

#credInfo a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

footer{
  clear: left;
  background-image: linear-gradient(#4C8DD8, black);
  padding: 10px
}

